/* stylelint-disable property-no-vendor-prefix */

/* stylelint-disable value-no-vendor-prefix */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap') ;

* {
  font-family: Inter , sans-serif;
}

.clamp {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
